.mainDiv {
    margin-top: 20px;
}

.datepicker {
    width: 200px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.47);
    border-radius: 10px;
    margin: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.datepicker::placeholder {
    color: rgb(255, 153, 0);
}

.datepicker:focus {
    color: rgb(115, 115, 115);
    border: 1px solid rgba(0, 0, 0, 0.47);
    outline: 1px solid rgba(68, 0, 0, 0.178);
}

.dateTitle {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.anlyzeRow {
    display: block;
    width: 300px;
    font-family: monospace;

}

.anlyzeRow div {
    display: flex;
    border-bottom: 1px dotted rgba(0, 98, 128, 0.313);
    padding-top: 12px;
    justify-content: space-between;
}


.inputCl {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    text-align: right;
    width: 100px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.14);
}